Checks: >
  abseil-*,
  android-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  darwin-*,
  fuchsia-*,
  google-^*,
  llvm-*,
  llvmlibc-^^*,
  misc-^^*,
  modernize-*,
  performance-*,
  portability-^^*,
  readability-*,
  zircon-*
